body {
    box-sizing: border-box;
    margin: 20px 100px;
    padding: 0;
    font-size: 6vw;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-details {
    display: flex;
    flex-direction: horizontal;
    font-size: 4vw;
}

h1 {
    font-size: 8vw;
}

h2 {
    font-size: 1.3vw;
    text-transform: uppercase;
}

h3 {
    font-size: 5vw;
    padding: 0;
    margin: 0;
}

hr {
    background-color: #333;
    border-bottom: 1px solid
}

.company-name,
.institution-name {
    font-style: italic;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0
}

section {
    margin-bottom: 20px;
}

.group {
    margin-top: 20px;
}

.project-heading {
    font-size: 1.1rem;
    font-weight: bold;
}

.heading {
    font-size: 1.1rem;
}

@media only screen and (max-width: 800px) {
    body {
        margin: 20px
    }
}

@media only screen and (max-width: 600px) {
    .contact-details {
        flex-direction: column;
        align-items: center;
    }

    .pipe-symbol {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    body {
        margin: 0;
    }
}
